@model IEnumerable<TargetHound.ViewModels.ViewModels.ProjectViewModel>

@{
    ViewData["Title"] = "Load";
}

<h1>Load</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-responsive-md table-active col-8 offset-2 text-center">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Country
            </th>
            <th>
                Admin
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <p>@item.Name</p>
            </td>
            <td>
                <p>@item.CountryName</p>
            </td>
            <td>
                <p><a href="/Email/Send">@item.AdminName</a></p>
            </td>
            <td>
                <a class="btn btn-primary" href="/Planning?projectId=@item.Id">Load</a>
               
                <button class="btn btn-secondary" asp-action="Details">Details</button>
                <button class="btn btn-secondary" asp-action="Edit">Edit</button>

                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Load", "Load", new { item.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
